*{
    font-family: 'Roboto Condensed', sans-serif;
}

.color-blanco{
    background: #fcf2d9;
}

.color-gris{
    background: #cfcccc;
}

.img-reloj{
    border-color: 1px solid #000;
}

.watches{
    margin-top: 2em;
    display: flex;
    justify-content: center;
}

.desc-size{
    color: #9e9a9aea;
    font-size: 18px;
}

#watch{
    border-radius: 5px;
    margin-bottom: 1em;
    text-align: center;
}