*{
    font-family: 'Roboto Condensed', sans-serif;
}

body{
    overflow-x: hidden;
}

.color-blanco{
    background: #fcf2d9;
}

.color-gris{
    background: #cfcccc;
}

.watches{
    margin-top: 2em;
}

.desc-size{
    color: #9e9a9aea;
    font-size: 18px;
}

#watch{
    border-radius: 5px;
    text-align: center;
    margin-bottom: 1em;
}

.btn-carrito{
    width: 100%;
}
